body{
    width: 100vw;
    height: 100vh;
}

.top-navigation-bar{
    position: absolute;
    width: 1440px;
    height: 80px;
    top: 0;
}

.nav-bar-icons{
     position: absolute;
     width: 1440px;
     height: 80px;
     left: 0;
     top: 0;
     display: flex;
 }

.fourth-row{
    width: 100vw;
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.fourth-row-box{
    background-color: #FFF9E5;
    padding: 40px 10px 20px -10px;

}

.fifth-row{
    box-shadow: 0 4px 25px
    rgba(241, 194, 194, 0.25);
    margin: 100px 0 100px 0;
}

.fifth-row-first-row{
    background-color: #FF2E2E;
    width: 180px;
    border-radius: 4px;
    height: 20px;
    color: white;
    margin-left: 30px;
}

.fifth-row-first-row p{
    margin: 20px 0 0 50px;
}

.fifth-row-second-row{
    display: flex;
}

.atlassian-image{
    margin-left: 30px;
    margin-right: 60px;
}
.henley-image{
    margin: 60px 100px 30px 40px;
}

.leaf-image{
    top: 30px;
    margin: 20px 70px 40px 0;
}

.fifth-row-third-row{
    margin: 0 5px 10px 50rem;
}

.sixth-row{
    width: 100vw;
}

.sixth-row-first-row{
    border-radius: 6px;
    background-color: #FFF2C7;
    display: flex;
    margin-bottom: 10px;
}

.stay-with-us-text{
    padding: 10px 0 20px 30px;
    width: 350px;
}

.stay-with-us-text h3{
    top: 20px;
    color: #960C0C;
}

.stay-with-us-text p{
    top: 80px;
    width: auto;
}

.enter-details-buttons{
    padding-top: 70px;
    padding-left: 60px;
}

.name-button{
    border-width: 0;
    border-radius: 5px;
    height: 35px;
    margin-left:20px;
    padding-left: 15px;
}

.email-button{
    border-width: 0;
    border-radius: 5px;
    height: 35px;
    margin: 2px;
    padding-left: 15px;
}

.view-more-button{
    border-width: 0;
    border-radius: 5px;
    height: 35px;
    color: white;
    background-color: #FF2E2E;

}

.sixth-row-second-row{
    border-radius: 6px;
    background-color: #FFF2C7;
    padding: 15px 20px 10px 50px;
    display: flex;
}

.company-text{
    margin-left: -20px;
    margin-right: 150px;
}

.company-text h3{
    color: #960C0C;
}

.what-we-do-text{
    margin-right: 150px;
}

.what-we-do-text h3{
    color: #960C0C;
}

.partners-text{
    margin-right: 150px;
}

.partners-text h3{
    color: #960C0C;
}

.natives-text h3{
    color: #960C0C;
}
.last-line{
    padding-left: 300px;
    color:#E8505B;
}

.heart-image{
    margin-top: 10px;
    display: inline;
    width: 20px;
    height: 20px;
}