body{
    width: 100vw;
    height: 100vh;
}

.top-navigation-bar{
    position: absolute;
    width: 1440px;
    height: 80px;
    top: 0;
}

.nav-bar-icons{
     position: absolute;
     width: 1440px;
     height: 80px;
     left: 0;
     top: 0;
     display: flex;
 }
.stay-with-us-text h3{
    color: #960C0C;
}
.stay-with-us-text p{
    width: auto;
}

.last-line{
    padding-left: 300px;
    color:#E8505B;
}
.heart-image{
    margin-top: 10px;
    display: inline;
    width: 20px;
    height: 20px;
}